.floatingButton {
    position: fixed;
    bottom: 20px;
    right: 40px;
    width: 60px;
    height: 60px;
    color: var(--color-white);
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--color-sent-message);
    animation: pulse 2s infinite;

    &:hover {
        animation: none;
    }

    @keyframes pulse {
        0% {
            box-shadow: 0 0 0 0 rgba(41, 33, 150, 0.4);
        }

        70% {
            box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        }

        100% {
            box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        }
    }
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Полупрозрачный фон */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    max-width: 90%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.modal {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    max-width: 90%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalTitle {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.modalInput {
    width: 80%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;


}

.modalButton {
    width: 80%;
    font-size: small;
    padding: 10px;
    background-color: var(--color-sent-message);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;


}

.modalCancelButton {
    width: 80%;
    font-size: small;
    padding: 10px;
    background-color: var(--color-black);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.userList {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.userItem {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    transition: background-color 0.2s;
}

.userItem:last-child {
    border-bottom: none;
}

.userItem:hover {
    background-color: #f5f5f5;
}

.selectedUser {
    background-color: #d3e3fd;
}