.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #ffffff;
    color: #6d7175;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #ccc;

    a {
        text-decoration: none;
        color: #6d7175;
        font-size: 24px;

        &:hover {
            color: #007bff;
        }
    }
}

.brand {
    font-size: 24px;
    font-weight: bold;
}